@font-face {
    font-family: 'hansiefregular';
    src: url('../fonts/hansief-webfont.woff2') format('woff2'),
         url('../fonts/hansief-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body{
	background:white;
	font-family: 'hansiefregular';
}

.bg-img{
	background: url('../img/background.png') #b9f6ff no-repeat center bottom;
	background-size: contain;
}

.inline-block{
	display: inline-block;
}

.cta{
	padding: 12px 20px;
	border:none;
	color: white;
    font-size: 1.6rem;
}

.grey-bg{
	background-color: #e0e0e0 !important;
}

.small-txt{
	font-size: 12px !important;
}

a.cta{
	transition: opacity ease .3s;
	text-decoration: none;
}

a.cta:hover{
	color: white;
	opacity: .8;
}

.bg-orange{
	background-color: #ffb400;
}

.bg-bleu{
	background-color: #1b6d81;
}

.bg-light{
	background-color: #b9f6ff;
}

.padding-top{
	padding-top: 15px;
}

.debug{
	background-color: white;
	padding: 20px;
}

.lato{
	font-family: 'Lato', sans-serif;
}

.container{
	
}


.logo{
	max-width: 75%;
}

.navbar{
	background-color: white;
	padding: 20px;
}

.navbar a{
	color: #1b6d81;
	font-weight: 600;
}

.no-padding{
	padding: 0;
}

.navbar a:hover{
	text-decoration: none;
}

.navbar .reglement a{
	background: url("../img/icon-sifflet.png")no-repeat;
	height: 60px;
    padding: 60px 10px 0 10px;
    display: inline-block;
}

.navbar .reglement a:hover{
	background: url("../img/icon-sifflet-survol.png")no-repeat;
}

.navbar .classement, .navbar .vestiaire{
	display: inline-block;
}

.navbar .classement a{
	background: url("../img/icon-classement.png")no-repeat;
	height: 60px;
    padding: 60px 10px 0 6px;
    display: inline-block;
}

.navbar .classement a:hover{
	background: url("../img/icon-classement-survol.png")no-repeat;
}

.navbar .vestiaire a{
	background: url("../img/icon-compte.png")no-repeat;
	height: 60px;
    padding: 60px 10px 0 14px;
    display: inline-block;

}

.navbar .vestiaire a:hover{
	background: url("../img/icon-compte-survol.png")no-repeat;
}


/******RESULTATS******/

.resultats p{
	text-align: center;
}

.tableau-res {
	position: relative;
	margin-bottom: 20px;
}

.tableau-res .nom-equipe{
	min-height: 60px;
	display: flex; /* contexte sur le parent */
	flex-direction: column; /* direction d'affichage verticale */
  	justify-content: center; /* alignement vertical */
}

.tableau-res .nom-equipe > div{
	margin-top: 10px;
}

.tableau-res h2{
	text-align: center;
	font-family: 'hansiefregular';
	text-transform: uppercase;
	font-size: 1rem;
	vertical-align: middle;
}

.tableau-res .logo-equipe, .tableau-res .nom-equipe{
	
}

.tableau-res .score-equipe-1::after{
    content: "-";
    position: absolute;
    top: 31%;
    right: -4px;
    font-family: "hansiefregular";
    font-size: 24px;
}

.tableau-res .logo-equipe{

}

.tableau-res .logo-equipe img{
	max-width: 80%;
	display: block;
    margin: 14px auto 10px auto;
}

.tableau-res .essai-point{
	text-align: center;
}

.tableau-res .form-group{
	height: 100%;
}

.tableau-res input{
	height: 100%;
	background-color:#e0e0e0;
	border:none;
	color: white;
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	border-radius: 0px;
}

.tableau-res .essai-point{
	font-size: 0.8rem;
	font-weight: 600;
	padding: 10px 0;
    background-color: #e0e0e0;
    margin-top: 15px;
}

.tableau-res .essai-point span{
	text-transform: uppercase;
	font-size: 1em;
}

.tableau-res:last-child{
	margin-bottom: 450px;
}

/******ACCUEIL******/

.header-welcome a{
	display: inline-block;
	margin:30px 0;
}

.welcome .zone-cta{
	position: relative;
	top: 12px;
	margin: 30px 0 0 0;
    display: inline-block;
}

.welcome .zone-cta a:nth-child(1){
	margin-right: 10px;
}

.welcome .zone-cta a:nth-child(2){
	margin-left: 10px;
}

.container-home{
	padding-top: 50px;
	min-height: 600px;
}

/******CLASSEMENT******/

.classement thead{
	color: white;
	text-transform: uppercase;
}

.classement table{
	margin-bottom: 30px;
}

.classement .top1{
	background-color: #68d480 !important;
}
.classement .top2{
	background-color: #88ea9e !important;
}
.classement .top3{
	background-color: #baffca !important;
}

/******FOOTER******/

.footer{
	padding: 40px 0;
}

.footer .socials{
	margin-bottom: 20px;
}

.footer .socials a:nth-child(2){
	margin:0 40px;
}

.footer .socials a{
	transition: opacity .3s ease;
}

.footer .socials a:hover{
	opacity: .6;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) { 

	.logo{
		max-width: 100%;
	}

	.padding-left{
		padding-left: 90px;
	}

	.padding-right{
		padding-right: 90px;
	}

	.tableau-res .logo-equipe img{
		margin-top: 10px;
	}

	.tableau-res h2{
		font-size: 2em;
	}

	.tableau-res .point{
		position: absolute;
		width: 80px;
		height: 80px;
		right: -40px;
		top: 21px;
		border-radius:50%;
		background-color: green;
		color: white;
	}

	.tableau-res .point p{
		text-align: center;
		padding-top: 31%;
		font-size: 1.5em;
		font-weight: 600;
	}

	.tableau-res .point p span{
		font-size: 3.6rem;
		line-height: 0;
	}


}
@media (min-width: 1200px) { }